.section {
  min-height: 100px;
  margin: 50px 20px 60px 20px;
}

.sectionTitle {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color9);
  padding-left: 20px;
  padding-bottom: 20px;
}

.section:first-child {
  border-top: transparent;
  padding-top: 0px;
  margin: 0px 20px 60px 20px;
}
