:root {
  --animationSpeed: 40s;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  padding: 80px 30px 1px;
  margin: 0 auto;
  max-width: 1150px;
  /* min-height: calc(100vh - 40px); */
}

/* carousel css */
.carouselHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #202125;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin: 20px auto;
}

.carouselTrack {
  max-width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: row;
  /* transform: translate3d(-280px, 0, 0); */
  position: absolute;
}

/* end of carousel css */

.controlsWrapper {
  display: flex;
  flex-direction: row;
}

.totalButton {
  line-height: 24px;
  border: 1px solid var(--color6);
  padding: 0.5em 2em;
  border-radius: 5%;
  color: var(--color1);
  background: none;
  margin-right: 10px;
}

.totalButton:focus {
  outline: 0;
}

.totalButton:hover {
  color: var(--color1);
  cursor: pointer;
  box-shadow: 1px 1px 0.5px 3px rgba(247, 247, 247, 0.8);
}
