.subNavbar {
  font-weight: 300;
  color: var(--color3);
  line-height: 50px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color6);
  font-size: 18px;
  font-weight: 100;
  position: relative;
  height: 70px;
}

.subNavbarWrapper {
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
}

.left {
  display: flex;
  max-width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color3);
}

.locationIcon {
  margin-right: 4px;
}

.locationAddress {
  color: var(--color7);
}

.center {
  /* border: 1px solid black; */
  display: flex;
  flex-grow: 2;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
  /* text-align: center; */
  /* margin-left: -50px; */
}

.action {
  margin: 8px;
}

.center span {
  margin: 8px;
}

.actionIcon {
  margin-right: 2px;
}

.action:hover {
  color: var(--color1);
  cursor: pointer;
}
