:root {
  /* --color1: #ffb5a7ff;
  --color2: #fcd5ceff;
  --color3: #f8edebff;
  --color4: #f9dcc4ff;
  --color5: #fec89aff;*/
  /* --color6: #555b6e;*/
  --color7: #8d99ae;
  --color1: #00b4d8;
  --color2: white;
  --color3: black;
  --color4: #caf0f8;
  --color5: #edf2f4;
  --color6: #e6e6e6;
}

.App {
  text-align: center;
}
